
  <legend>Pedido</legend>
  <div class="order-items-table">
    <table class="table" border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>Produto</th>
          <th width="100">Qnt</th>
          <th width="50">Vl unit</th>
          <th width="90">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in vm.items">
          <td><label for="item-{{ $index }}">{{ product.name }}</label></td>
          <td>
            <input type="tel"
              id="item-{{ $index }}"
              autocomplete="off"
              ng-model="product.quantity"
              maxlength="2"
              ui-number-mask="0"
              class="form-control input-small" />
          </td>
          <td class="align-right">{{ product.price | currency }}</td>
          <td>
            <span ng-if="product.quantity">
            {{ (product.total = (product.quantity || 0) * product.price) | currency }}
            </span>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td><b>Total:</b></td>
          <td>{{ vm.items | sum:'quantity' }}</td>
          <td></td>
          <td>{{ vm.order.payment.subtotal = (vm.items | sum:'total') | currency }}</td>
        </tr>
      </tfoot>
    </table>
  </div>

  <legend>Brinde</legend>
  <div class="order-items-table">
    <table class="table">
      <thead>
        <tr>
          <th>Produto</th>
          <th width="100">Qnt</th>
          <th width="50">Vl unit</th>
          <th width="90">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in vm.gifts | filter:{ gift: true }">
          <td><label for="gift-{{ $index }}">{{ product.name }}</label></td>
          <td>
            <input type="tel"
              id="gift-{{ $index }}"
              autocomplete="off"
              ng-model="product.quantity"
              maxlength="2"
              ui-number-mask="0"
              class="form-control input-small" />
          </td>
          <td>Brinde</td>
          <td></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td><b>Total:</b></td>
          <td>{{ vm.gifts | sum:'quantity' }}</td>
          <td></td>
          <td>Grátis</td>
        </tr>
      </tfoot>
    </table>
  </div>
