.order-print
  font-family Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size 14px
  min-height auto
  max-width 405px

.order-print-table
.order-print-table tr
.order-print-header
.order-print
.order-print table
.order-print tbody
.order-print thead
.order-print tfoot
  width 99%

.order-print-header
  text-align center

.order-print-line
  margin-bottom 10px

.order-print-table tr
  padding-bottom 5px

