@media print
  body, html
    height auto
    margin 0
    padding 0

  .order-print
    font-family Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size 14px

  form,
  .btn,
  .sidebar,
  .pace,
  .main .header
    display none

  .row
    margin 0

  .col-md-12,
  .content
    padding 0
    float none

  .main
  .content
  .order-print
    display block
    max-width 99% !important
    width 99% !important
